#index.html  
# файл не добавится в коммит
#/css
# папка не добавится
#/some/*.txt
# в папке some все txt файлы не добавятся
/some/**/*.txt
# из всех папок в папке some  все файлы txt не добавятся
readme.txt